<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Trocar Senha</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <br>
  <ion-list>
    <ion-item>
      <ion-label color="primary" stacked>Senha atual:</ion-label>
      <ion-input type="password" stacked></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label color="primary" stacked>Nova senha:</ion-label>
      <ion-input type="password" stacked></ion-input>
    </ion-item>
  </ion-list>
  <br>
  <br>
  <ion-button expand="full" color="danger">Salvar</ion-button>

</ion-content>
