<ion-content color="danger" padding class="ion-text-center">
<div class="sobre">
  <ion-icon name="cart-outline" color="light" class="logoSobre"></ion-icon>
  <ion-text>
    <h3><b>superFlamel</b></h3>
      <br>
    <h6>
      A idéia foi criada no início de 2019 
      <br>
      tudo para facilitar a sua vida,
      <br>
      por que não poder comprar no mercado via celular?
      <br>
      E por isso chegou o </h6>
      <h3><b>superFlamel</b></h3>
      <h6>
      Seu mercado na palma da sua mão.
      <br>
      Nossa equipe desenvolveu e está desenvolvendo esse projeto para que você cliente fique totalmente satisfeito.
    </h6>
    <br>
    <p>Caso encontre algum Bug ou erro. <br>Favor entrar em contato pelo e-mail: <br><a href="mailto:lopes.jocimar@gmail.com">lopes.jocimar@gmail.com</a></p>
  </ion-text>
</div>
</ion-content>
