<ion-header>
  <ion-toolbar color="danger">
    <ion-back-button slot="start" defaultHref=""></ion-back-button>
    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen color="light">
  <ion-button *ngFor="let categoria of categorias" color="{{ categoria.cor }}" class="categorias" (click)="moveToProdutos()" text-center>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-icon class="cart-icon" color="light" name="cart-outline"></ion-icon>
        </ion-col>
        <ion-col size="12">
          <p class="nome-categoria">{{ categoria.nome }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-button>
</ion-content>