.categorias {
    width: 49%;
    height: 125px;
    margin-bottom: 2px;
}
.nome-categoria {
    color: #fff;
    font-weight: bold;
}
.contain {
    display: inline-flexbox;
}
.cart-icon {
    font-size: 40px;
    position: relative;
    top: 15px;
}